-# locals: block
:ruby
  block_data = {
    controller: 'block',
    block: {
      id: block.id,
      content: block.content,
      available_tags: @available_tags
    }
  }

.block-editor{data: block_data}
  .banner
    .loader.spinner-border.spinner-border-sm{data: {target: 'note.loader'}}
    .editor-holder.p-3{data: {target: 'block.editorHolder'}}
