#block-editor{data: {controller: 'block', block: {id: block.id, content: block.content.to_json, available_tags: @available_tags}}}
  #block-loader{data: {target: 'block.loader'}} loading
  #block-editor-holder.p-3{data: {target: 'block.editorHolder'}}
