-# locals: note
:ruby
  note_data = {
    controller: 'note',
    note: {
      id: note.id,
      title: note.title,
      content: note.content_json,
      available_tags: @available_tags
    }
  }

.note-editor.text-dark.p-3{data: note_data}
  .banner
    .loader.spinner-border.spinner-border-sm{data: {target: 'note.loader'}}
    .title-merger{data: {target: 'note.titleMerger'}}
