#notes-edit.row.no-gutters.h-100
  %ul#notes-nav.col-md-2.list-group.list-group-flush.h-100.overflow-auto
    -# .list-group-item
    -#   .input-group.my-3
    -#     %input.form-control{type: 'text'}
    -#     .input-group-append
    -#       %span.input-group-text icon

    -# TODO icon
    - active = controller_name == 'notes' && action_name == 'new'
    %a.list-group-item.list-group-item-secondary{href: new_note_path, class: ( 'active' if active )}
      new

    - @notes.each do |note|
      - active = note == @note
      %a.list-group-item.list-group-item-secondary{href: edit_note_path(note), class: ( 'active' if active )}
        = note.title
    - @no_note_tags.each do |tag|
      %a.list-group-item.list-group-item-secondary{href: new_note_from_tag_path(tag)}
        = tag

  .col-md-10{data: {controller: 'note', note: {id: @note.id, title: @note.title, content: @note.content_json, available_tags: @available_tags}}}
    #loader{data: {target: 'note.loader'}} loading
    #title-merger{data: {target: 'note.titleMerger'}}
    #editor{data: {target: 'note.editorHolder'}}
