#notes-edit{data: {controller: 'note', note: {id: @note.id}}}
  #loader{data: {target: 'note.loader'}} 0

  = text_field_tag :post_title, @note.title, data: {action: 'note#updateTitle'}

  = hidden_field_tag :note_content
  %trix-editor{input: 'note_content', data: {action: 'trix-change->note#updateContent'}}
