#notes-edit{data: {controller: 'note', note: {id: @note.id, title: @note.title, content: @note.content_json}}}
  #loader{data: {target: 'note.loader'}} 0
  #editor{data: {target: 'note.editorHolder'}}
