= render partial: 'nav'

.col-md-8.bg-light
  = render partial: 'note_editor', locals: {note: @note}
  -# #linked-blocks
  -#   = render partial: 'block_editor', collection: @linked_blocks, as: :block
