#notes-edit{data: {controller: 'note', note: {id: @note.id, title: @note.title, content: @note.content_json, available_tags: @available_tags}}}
  #loader{data: {target: 'note.loader'}} loading
  #editor{data: {target: 'note.editorHolder'}}
