= render Notes::NavComponent.new(@note)

.col-md-8.bg-light
  = render Notes::EditorComponent.new(@note)

  #linked-blocks
    - @linked_blocks.each do |block|
      %hr
      linked block from
      = link_to block.root_note.title, note_path(title: block.root_note.title)

      = render Notes::EditorComponent.new(block)
