= render Notes::NavComponent.new(notes: @notes)

.col-md-8.bg-light
  = render Notes::EditorComponent.new(@note)
  -# #linked-blocks
  -#   = render partial: 'block_editor', collection: @linked_blocks, as: :block
