.note-editor.text-dark.p-3{data: {controller: 'note-editor', note_editor: @editor_data}}
  .banner
    .loader.spinner-border.spinner-border-sm.text-secondary{data: {target: 'note-editor.loader'}}
    .title-merger{data: {target: 'note-editor.titleMerger'}} title merger
