-# TODO current tag and active

%ul#notes-nav.col-md-2.list-group.list-group-flush.overflow-auto
  -# .list-group-item
  -#   .input-group.my-3
  -#     %input.form-control{type: 'text'}
  -#     .input-group-append
  -#       %span.input-group-text icon

  -# TODO icon
  %a.list-group-item.list-group-item-secondary{href: new_note_path}
    new

  - @notes.each do |note|
    %a.list-group-item.list-group-item-secondary{href: edit_note_path(note)}
      = note.title

  - @no_note_tags.each do |tag|
    %a.list-group-item.list-group-item-secondary{href: new_note_path(title: tag)}
      = tag
