// Place all the styles related to the notes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import 'prosemirror-view/style/prosemirror'

ul#notes-nav
  // HACK same with the background of <li>
  background-color: #e8eaed

  // TODO maybe hide scroll bar

.note-editor
  > .banner
    position: fixed
    right: 3em

  > .ProseMirror
    &:focus
      outline: none

    h1
      padding-left: 1rem

#linked-blocks
  .linked-block
    .note-editor
      background-color: whitesmoke

      .ProseMirror
        h1
          display: none
        li[data-hidden="true"]
          display: none
